* {
    font-family: 'Roboto'
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}


.hero-logo {
    color: #F9FAF8;
    font-size: 24px;;
}

.hero-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0
}

header, footer {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}

.right-side {
    display: flex;
    gap: 25px;
}

.section-one {
    margin: 75px 150px 100px 150px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-evenly;
    align-items: center;
}

.section-one .subtext {
    margin-top: 0;
    margin-bottom: 10px;
}

.section-one .left-side {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    flex: 1;
}

.hero-image {
    width: 450px;
    height: 200px;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 6%;
    padding: 4px 20px;
    border: none;
}

.section-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: 10px;
    margin-bottom: 30px;
}

.section-two .bottom {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    gap: 45px;
}

.section-two img {
    width: 150px;
    height: 150px;
    border: #3882F6 solid 3px;
    border-radius: 5%;
}

.image-one, .image-two, .image-three, .image-four {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align-last: center;
}

.section-three .quote {
    font-style: italic;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    margin-bottom: 0;
}

.section-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 55px 220px;
}

.section-three .signature {
    font-weight: bold;
    align-self: flex-end;
}